# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
.next
out

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example
.vercel

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Testing
coverage

# Turbo
.turbo

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mobile
apps/mobile/.expo/
apps/mobile/dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/